<footer id="sticky-footer" class="py-4 bg-light text-black">
        <div class="container text-right">
          <small>Copyright &copy; 2019. <a href="http://datalab.unza.zm">DataLab@ UNZA</a> | <a href="http://www.unza.zm">University of Zambia</a></small>
        </div>
      </footer>