<footer id="sticky-footer" class="py-4 bg-light text-black">
        <div class="container text-center">
          <small>Copyright &copy; <a href="http://datalab.unza.zm">DataLab</a> | <a href="http://www.unza.zm">University of Zambia</a></small>
        </div>
      </footer>