<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataLab@ UNZA Projects Tracker</title>
</head>
<body>
    <!-- h1>[Header Text---e.g. Common header elements]</h1> -->
    <%- include("../partials/header.ejs"); %>
    <br>
    <%- body %>
    <br>
    <!-- <h1>[Footer Text---e.g. Common footer elements]</h1> -->
    <%- include("../partials/footer.ejs"); %>
</body>
</html>