<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DataLab People</h5>
        <p class="card-text">
          Database of students and staff in the DataLab laboratory.
        </p>
        <a href="/people" class="btn btn-primary">View People</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DataLab Projects</h5>
        <p class="card-text">
          Explore past and present projects in the DataLab laboratory.
        </p>
        <a href="/projects" class="btn btn-primary">View Projects</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">API Endpoints</h5>
        <p class="card-text">
          View application API endpoints for interacting with application.
        </p>
        <a href="/api" class="btn btn-primary">API Endpionts</a>
      </div>
    </div>
  </div>
</div>
