<label>Person ID (e.g. Student ID): </label> <br>
<input type="text" name="studentID" value="<%= intern.studentID %>"> <br>
<label>Full Name:</label> <br>
<input type="text" name="fullName" value="<%= intern.fullName %>"> <br>
<label>Email Address:</label> <br>
<input type="text" name="emailAddress" value="<%= intern.emailAddress %>"> <br>
<label>Phone Number: </label> <br>
<input type="text" name="phoneNumber" value="<%= intern.phoneNumber %>"> <br>
<input type="submit" value="Add Person">